.homeDesign {

    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 90vh;
    width: 100vw;

    background-color: rgb(224, 224, 255);
}

.rosterDesign {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.loadingGif {
    display: flex;
    height: 15em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listserie{
    list-style-type: none;
}
