
.headerDesign{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 10vh;
    width: 100vw;
}


.logoDesignHeader {

    height: 10vh;
    width: 19vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(110, 5, 63);
}

.searchDesign {

    height: 10vh;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(110, 5, 63);
    
}



.headerLinksDesign {

    height: 10vh;
    width: 20vw;
    font-size: x-large;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;

    background-color: rgb(110, 5, 63);
}

.linkDesign {

    font-weight: bold;
    color: white;
    cursor: pointer;

    margin-bottom: 0.5em;
    margin-right: 3em;
}