
.headerDesign{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 15vh;
    width: 100vw;
}

.logoDesignHeader {

    height: 15vh;
    width: 10vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: darkcyan;
}

.searchDesign {

    height: 15vh;
    width: 70vw;

    background-color: darkcyan;
}

.cameraAvatar {
    height: 8vh;
}

.headerLinksDesign {

    height: 15vh;
    width: 20vw;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;

    background-color: darkcyan;
}

.linkDesign {

    font-weight: bold;
    color: white;
    cursor: pointer;

    margin-bottom: 0.5em;
    margin-right: 3em;
}