
.cardSerieDesign {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30em;
    width: 30em;
    background-color: darkgrey;
    color: white;
    border-radius: 1em;
    margin: 0.7em;
}

.posterDesign {

    height:25em;
    width: 25em;
}