
.loginDesign {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 85vh;
    width: 100vw;

    background-color: rgb(224, 224, 255);
}

.loginButtonDesign {

    height: 4em;
    width: 8em;
    margin: 5em;
    background-color: rgb(110, 5, 63);
    cursor: pointer;
    justify-content: center;
    display: flex;
    align-items: center;

    transition: 0.3s;
}

.loginButtonDesign:hover {

    transition: 0.3s;

    background-color: rgb(151, 5, 85);
}