.adminDesign {

    display: -webkit-inline-box;
    
    justify-content: center;
    align-items: center;

    height: 85vh;
    width: 100vw;

    background-color: lightcyan;
}

table{
    border: 1px solid;
    border-collapse: collapse;
}
tbody > tr > td{
    border:1px solid
}